<h1>Pithy quotes</h1>

<% @quotes.each do |quote| %>
  <section class="quote-container">
    <blockquote class="quote">
      <%= quote.text %>
      <footer class="author">
        <%= quote.author %>
      </footer>
    </blockquote>
    <% if quote.created_at %>
      <div class="created">
        <%= time_ago_in_words(quote.created_at) %> ago
      </div>
    <% end %>
  </section>
<% end %>
